name: Release

on:
  push:
    branches:
      - main
      - master
    tags:
      - "v*"
    paths-ignore:
      - "**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  promote:
    uses: ./.github/workflows/promote.yml
    secrets:
      checkout-token: ${{ secrets.BOT_RELEASE_CHECKOUT_TOKEN }}
    with:
      version-makefile: Makefile
      git-add-files: Makefile
      git-user-name: getdevopspro-cibot
      git-user-email: 203600057+getdevopspro-cibot@users.noreply.github.com
      make-target-pre-push: release-version
